
@{
    ViewBag.Title = "ZhiWeiSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>

<div class="col-lg-12" id="app">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>职位设置</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="table_data_tables.html#">Config option 1</a>
                    </li>
                    <li>
                        <a href="table_data_tables.html#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <div class="">
                <a href="/Page2/ZhiWeiCreate" class="btn btn-primary ">新增职位</a>
            </div>
            <div id="editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                <div class="row">

                    <div class="form-group col-sm-3">
                        <label for="exampleInputName2">职位名称:</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="输入任务名称">
                    </div>
                    <div class="form-group col-sm-3">
                        <div class="dataTables_length" id="editable_length">
                            <label>
                                所属部门: @Html.DropDownList("DID", null, htmlAttributes: new { @class = "form-control" })
                            </label>
                        </div>
                    </div>

                    


                    <div class="form-group col-sm-3 ">
                        <button type="submit" class="btn btn-w-m btn-info" v-on:click="Cha">查询</button>
                    </div>
                    
                </div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover  dataTable" id="editable" role="grid" aria-describedby="editable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 159px;">职位编码</th>
                                    <th class="sorting" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 200px;">职位名称</th>
                                    <th class="sorting" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 180px;">职位分类</th>
                                    <th class="sorting" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 136px;">所属部门</th>
                                    @*<th class="sorting" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 95px;">是否启用</th>*@
                                    <th class="sorting" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 95px;">操作</th>
                                </tr>
                            </thead>
                            <tbody v-for="(t,index) in wheres">

                                
                                <tr class="gradeA odd" role="row" v-if="index%2!=0">
                                    <td class="sorting_1">{{t.ID}}</td>
                                    <td>{{t.Zname}}</td>
                                    <td>{{t.Lname}}</td>
                                    <td class="center">{{t.Bname}}</td>
                                   
                                    <td class="text-left footable-visible footable-last-column">
                                        <div class="btn-group">
                                            <a v-bind:href="t.viewhtml" class="btn-white btn btn-xs">View</a>
                                            <a v-bind:href="t.edithtml" class="btn-white btn btn-xs">Edit</a>
                                            <a class="demo3 btn-white btn btn-xs">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="gradeA even" role="row" v-else>
                                    <td class="sorting_1">{{t.ID}}</td>
                                    <td>{{t.Zname}}</td>
                                    <td>{{t.Lname}}</td>
                                    <td class="center">{{t.Bname}}</td>

                                    <td class="text-left footable-visible footable-last-column">
                                        <div class="btn-group">
                                            <a v-bind:href="t.viewhtml" class="btn-white btn btn-xs">View</a>
                                            <a v-bind:href="t.edithtml" class="btn-white btn btn-xs">Edit</a>
                                            <a class="demo3 btn-white btn btn-xs" v-bind:id="t.ID" onclick="uio()">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div><div class="row">

                    <div class="col-sm-5">
                        <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="editable_previous"><a href="#" aria-controls="editable" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="editable" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="editable" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="editable" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="editable" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="editable" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="editable" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="editable_next"><a href="#" aria-controls="editable" data-dt-idx="7" tabindex="0">Next</a></li></ul></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    function uio() {
        
        let id = event.toElement.id
            alert(id)
            swal({
                title: "确认要删除吗?",
                text: "您将要删除此条信息!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是的, 删除它!",
                closeOnConfirm: false
            }, function () {

                axios.post('/Page2/deleteZhiWei/' + id + '').then(res => {
                    console.log(res);

                })
                swal("已删除!", "您的此条记录已被删除.", "success");

                window.location.href = "ZhiWeiList"
            });
     
    }
    var data = {
        txt: "123456",
        zhis: [],
        wheres:[]
    };
    
   
   
   
    let vm = new Vue({
        el: "#app",
        data: data,
        created() {

            axios.get(`/Helper/GetZhiWei`).then(res => {
                this.zhis = res.data;
                this.wheres = this.zhis


            })
        },
        methods: {
            Cha() {
                let name = $("#exampleInputName2").val();
                let DID = $("#DID").val();
                let qwe = []
                
                    for (var i = 0; i < this.zhis.length; i++) {


                        if (this.zhis[i].Zname.indexOf(name) == -1) {

                            continue;
                        }
                        let str = this.zhis[i].BID;
                        if (str != DID && DID != "00000000-0000-0000-0000-000000000000") {

                            continue;
                        }
                       

                        qwe.push(this.zhis[i])
                            
                }

                this.wheres = qwe


                

                

               

            }


        }
    })

</script>
