@model IEnumerable<MvcMovie.Models.QuanXian>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <a href="index.html#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">@item.Name</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">

        @foreach (var it in item.QuanXian1)
        {
            <li><a href="../Page2/@(it.OpenHtml)">@it.Name</a></li>
        }
        </ul>
    </li>
}
