
@{
    ViewBag.Title = "RenShiEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="~/Content/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
<script src="~/Content/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>人事档案修改</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="table_data_tables.html#">Config option 1</a>
                    </li>
                    <li>
                        <a href="table_data_tables.html#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">

            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-8">
                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">所属部门:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <label class="col-lg-2 control-label">档案状态:</label>
                            <div class="col-lg-4">
                                <select name="editable_length" aria-controls="editable" class="form-control input-sm">
                                    <option value="10">1000000000000000</option>
                                    <option value="25">200000</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">职位名称:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <label class="col-lg-2 control-label">职位编码:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">姓名:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <label class="col-lg-2 control-label">性别:</label>
                            <div class="col-lg-4">
                                <select name="editable_length" aria-controls="editable" class="form-control input-sm">
                                    <option value="10">1000000000000000</option>
                                    <option value="25">200000</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">EMAIL:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <label class="col-lg-2 control-label">联系电话:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">社保卡号:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                            <label class="col-lg-2 control-label">登记人:</label>
                            <div class="col-lg-4">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-2 control-label">住址:</label>
                            <div class="col-lg-10">
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="width: 330px;height: 300px;border:1px solid red;">
                        <img src="~/Content/img/a6.jpg" style="width: 300px;height: 300px;" />
                    </div>
                    <a class="btn btn-info btn-primary btn-outline" style="position: absolute;top: 330px;" onclick="">上传头像</a>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">身份账号:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                    <label class="col-lg-1 control-label">户口所在地:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                    <label class="col-lg-1 control-label">政治面貌:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">毕业院校:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                    <label class="col-lg-1 control-label">专业:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                    <label class="col-lg-1 control-label">学历:</label>
                    <div class="col-lg-3">
                        <select name="editable_length" aria-controls="editable" class="form-control input-sm">
                            <option value="10">1000000000000000</option>
                            <option value="25">200000</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">薪酬标准:</label>
                    <div class="col-lg-3">
                        <select name="editable_length" aria-controls="editable" class="form-control input-sm">
                            <option value="10">1000000000000000</option>
                            <option value="25">200000</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <label class="col-lg-1 control-label">开户行:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                    <label class="col-lg-1 control-label">银行卡号:</label>
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>

                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">建档时间:</label>
                    <div class="col-lg-4">
                        <div class="form-group" id="data_1">

                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">个人履历:</label>
                    <div class="col-lg-11"><textarea class="form-control" id="message" rows="5" placeholder="请输入备注内容 ..."></textarea></div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="col-lg-1 control-label">家庭关系信息:</label>

                    <div class="col-lg-11"><textarea class="form-control" id="message" rows="3" placeholder="请输入备注内容 ..."></textarea></div>
                </div>
                <div class="form-group col-lg-12 ">
                    <label class="col-lg-1 control-label">备注:</label>

                    <div class="col-lg-11"><textarea class="form-control" id="message" rows="3" placeholder="请输入备注内容 ..."></textarea></div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3"><button type="button" class=" btn btn-w-m btn-outline btn-primary">修改</button></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3"><button type="button" class=" btn btn-w-m btn-outline btn-primary">返回</button></div>
                    <div class="col-lg-2"></div>
                </div>
            </form>


        </div>
    </div>
</div>

<script>

    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
</script>
